<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TQQV5H');
  </script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="icon" href="images/favicon.png" type="image/png" sizes="32x32">
  <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">

  {{#if srt-page }}
  <script src="https://use.typekit.net/jni4efq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  {{/if}}
</head>
